# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc/home/alex/reps/luxoft/mich-test01/
.DS_Store/home/alex/reps/luxoft/mich-test01/
.env.local/home/alex/reps/luxoft/mich-test01//home/alex/reps/luxoft/mich-test01/
/home/alex/reps/luxoft/mich-test01/.env.test.local/home/alex/reps/luxoft/mich-test01/
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/data
